College-Internship-Project.json
{
  "name": "College-Internship-Project",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        320
      ],
      "id": "3e7784b4-6dfc-48c8-b032-ed6241795fba",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fdc40194-662b-402b-b731-6405ce91259e",
              "leftValue": "={{ $json[\"Send Status\"] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        320
      ],
      "id": "0103ac53-5fbb-4fd2-a7c2-a53977a451d6",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        304
      ],
      "id": "ee40945c-022b-4e17-a34c-83f9f0e7d363",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const templates = $input.all().map((item) => item.json);\nconst randomIndex = Math.floor(Math.random() * templates.length);\nconst selectedTemplate = templates[randomIndex];\n\nreturn {\n  subject: selectedTemplate.Subject,\n  body: selectedTemplate.body,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        128
      ],
      "id": "1b59deb0-bcd0-4676-a120-fe2a4f152bb2",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        512,
        208
      ],
      "id": "98821e29-dd60-4ea1-a6b1-02a1f41f961f",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6a6ba02-422b-4e7c-a73e-03901cc2db0c",
              "name": "body",
              "value": "={{ $json.body.replace(\"[name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        208
      ],
      "id": "fcfc26ec-e0a6-4b61-86dc-83b581348834",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1168,
        144
      ],
      "id": "e0c7ee6d-cf88-497c-8c11-f75d30458dde",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        400
      ],
      "id": "ee0d79fd-7858-40c9-b3b2-955cb5308ef4",
      "name": "Wait",
      "webhookId": "59d0e464-9eef-4147-9d07-e283193ed822"
    },
    {
      "parameters": {
        "content": "   ## Get Leads Data From Google Sheet",
        "height": 320,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        208
      ],
      "typeVersion": 1,
      "id": "a35b7552-6cf8-4679-89e7-f11384ef8f49",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Email Templates From Google Sheet\n",
        "height": 300,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "da0ac214-2987-4324-a687-a0cc36530dac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Log The Status",
        "height": 280,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        64
      ],
      "typeVersion": 1,
      "id": "4ae420aa-d4f2-4e0a-b817-fb7c89b584be",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jmcLNZ03dXXXVTaDC24RAsdJ6T-6pVeyn58r18xHJzI",
          "mode": "list",
          "cachedResultName": "Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jmcLNZ03dXXXVTaDC24RAsdJ6T-6pVeyn58r18xHJzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jmcLNZ03dXXXVTaDC24RAsdJ6T-6pVeyn58r18xHJzI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -608,
        320
      ],
      "id": "8786a08c-fcbf-423d-8ac5-7e10c62792b8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zo4v7gwpAHKVyyYf",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qisFfB5mNMoG01c9wbqa3X9mSELRhBjzY2FGHshMQjY",
          "mode": "list",
          "cachedResultName": "Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qisFfB5mNMoG01c9wbqa3X9mSELRhBjzY2FGHshMQjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qisFfB5mNMoG01c9wbqa3X9mSELRhBjzY2FGHshMQjY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        128
      ],
      "id": "d487502e-43c6-4990-aeea-e2bde8aa3758",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zo4v7gwpAHKVyyYf",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Rajeev"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        288
      ],
      "id": "bdb5a880-c311-4973-b058-4f271e20b97b",
      "name": "Send a message",
      "webhookId": "3fbf6bf1-efca-44a5-8ed0-8e0fb1d4143f",
      "credentials": {
        "gmailOAuth2": {
          "id": "sXIIbF8idvLJdbPB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1jmcLNZ03dXXXVTaDC24RAsdJ6T-6pVeyn58r18xHJzI/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1jmcLNZ03dXXXVTaDC24RAsdJ6T-6pVeyn58r18xHJzI/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Send Status": "={{ $json.labelIds[0] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Status",
              "displayName": "Send Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1392,
        144
      ],
      "id": "f7696a21-c16f-447d-ad67-7cf0614a47ee",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YkTbur3ZtlNgPYfj",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "093fdf05-98db-4568-8276-c236a3c2b9bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32a3e64ca63728ce844831ab93e6eb2677c0f0931de523f13e2062d7fd32b30d"
  },
  "id": "F69b0fUyrHjmUUr5",
  "tags": []
}